:root {
  --point-color1: #e0462e;
  --point-color2: #ed1c24;
  --point-color3: #ed1c24;
  --gray-400: #1b1b1b;
  --gray-500: #1f1f1f;
  --gray-600: #000;
}
#wrap {
  height: 1500px;
}
#header.admin_header {
	width:100%;
	height:100px;
	background: #104474;
	position: unset;
}
#header .inner {
/* 	all:unset; */
}

#header.admin_header >.inner {
	width: auto;
	display: flex;
	flex-direction:row;
}

.header_left {
	width: 380px;
	height: 100px;
	padding: 10px 50px;
	background : #194E84;
}
.header_left .inner {
	all:unset;
	padding: 0px 0px;
}
.header_left .inner>a {
	display: flex;
	flex-direction: row;
}
.header_left a>img {
	width:70px;
}
.header_left .inner h2 {
	padding-left : 10px;
	font-size : 30px;
	line-height: 60px;
	color: #fff;
}

.header_right {
	width : 1500px;
	padding: 40px 0;
	padding-left:30px;
	padding-right: 100px;
}
.header_right .inner {
	all:unset;
}
.header_right .inner {
	display: flex;
	/* flex-direction: row; */
	justify-content: space-between;
}
.header_right .inner p {
	font-size : 25px;
	line-height : 18px;
	color : #fff;
}
.header_right .inner a {
	
	font-size : 20px;
	color : #fff;
	justify-content: right;
	justify-self:right;
}
#container_wrapper {
	border-left : 50px solid #A4B7D1;
	border-right : 50px solid white;
/* 	padding: 0 100px; */
}

#container {
	width: 1810px;
/* 	margin: 0 auto; */
	display: flex;
	flex-direction:row;
	background: white;
}

#container >.inner {
	width: 100%;
	display: flex;
	flex-direction: row;
}

.contents .inner {
	width : 100%;
}

.side_menu {
	/* height : 100%; */
	height : 900px;
	background:#A4B7D1;
	width : 380px;
}

.side_menu .menu_inner {
	/* padding-right : 50px; */
}

/* .side_menu .menu_inner .menu li {
	width : 150px;
} */
.side_menu .menu_inner ul >li {
 	width : 380px;
 	padding : 20px 60px 30px;
}

.side_menu .menu_inner ul >li >a {
	font-size : 30px;
}

.board_search_wrap_admin {
	/* display : none; */
}

.board_search_wrap_admin .board_search_admin {
	width :100px;
}

.input_wrap_admin {
	
}

.menu_wrap {
}

/* position relative, position absolute로 설정하는 법 */
/* #container .contents {
	position: relative;
}

.contents >.inner {
	content: '';
  position: absolute;
  top: 100px;
  left: 70px;
  width: 600px;
  height: 200px; 
  z-index: 200;	
} */

/* section 개념으로 나누어야 될거같다. */
#container .contents {
	width : 100%;
}

/* 위아래 패딩을 준다. */
#container .contents .inner .board_search_wrap_admin {
	padding : 50px 0;
}

/* 가로 길이를 정하고 maring : 0 auto; 한다. */
#container .contents .inner .board_search_wrap_admin form {
	max-width : 1200px;
	margin : 0 auto;
}

/* 위아래 패딩을 준다. */
#container .contents .inner .board_list_admin {
	padding : 50px 0;
}

/* 가로 길이를 정하고 margin : 0 auto; 한다. */
#container .contents .inner table {
	max-width : 1200px;
	margin : 0 auto;
}

.board_list_admin table thead >tr {
	border-top: 2px solid black;
}
.board_list_admin table thead >th {
	width :160px;
	height: 50px;
	font-size: 15px;
}
.board_list_admin table tr {
	
}
.board_list_admin table th {
	
}

#footer {
	width: 1720px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
}
