.list_page {
  padding: 120px 0;
}

.list_page .sub_visual {
  height: 500px;
  background: url(../images/board_images.jpg) no-repeat center / cover;
  padding:200px;
}
.list_page .sub_visual .inner {
  max-width: 1450px;
  margin: 0 auto;
  position: relative;
}

.list_page .sub_visual h3 {
  margin: 0 45px 0;
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  text-align: left;
}
.list_page .sub_visual h3 span {
  width: 20px;
  height: 20px;
  display: inline-block;
  background: url(../images/icon_locat_slide.svg) no-repeat 50% 50% / cover;
  vertical-align: middle;
}

.list_page .contents {
  padding: 30px 0;
}
.list_page .contents .inner {
  max-width: 1450px;
  margin: 0 auto;
  position: relative;
}

.list_page .contents .m_wrap {
  top: 0;
  right: 0;
  text-align: right;
  align-items: end;
  padding: 15px 0;
  margin: 0 45px 0;
}
.list_page .contents .m_wrap p {
  font-size: 13px;
}
.list_page .contents .m_wrap span {
  width: 15px;
  height: 15px;
  display: inline-block;
  background: url(../images/icon_loc.png) no-repeat 50% 30%;
  vertical-align: middle;
}

.list_page .contents .board_list {
  margin: 0 45px 0;
}

.list_page .ban_box {
  padding-top: 50px;
}

.list_page .ban_box .inner {
  max-width: 1450px;
  margin: 0 auto;
  position: relative;
}

.list_page .ban_box .etc {
  margin: 0 45px 0;
  display: flex;
  justify-content: end;
  gap:30px;
}

.list_page .ban_box .etc li {
  background: #8c5ba3;
  border-radius: 20px;
}

.list_page .ban_box .etc a {
  display: block;
  height: 100px;
  background: url(../images/icon-consult.png) no-repeat 20px 50% / 30px;
  padding: 30px 30px 30px 100px;
}


.list_page .ban_box .etc .etc_right {
  background: url(../images/icon-call.png) no-repeat 20px 50% / 30px;
}

.list_page .ban_box .etc p {
  text-align: left;
  color: #fff;
  font-weight: 700;
}

.list_page .ban_box .etc_left p {
  padding-top: 7px;
}

.list_page .ban_box .etc .etc_right span {
  display: flex;
}











/* 모바일 */
@media (max-width: 1200px) {
  .sub_visual h3 {
    font-size: 30px;
  }

  .contets .m_wrap p {
    font-size: 12px;
  }

  .ban_box .etc {
    gap:20px;
  }
  .ban_box .etc a {
    height: 90px;
    padding: 25px 25px 25px 90px;
  }

  .ban_box .etc p {
    font-size: 15px;
  }

}

/* 모바일 */
@media (max-width: 767px) {
  .list_page {
    padding: 110px 0;
  }

  .sub_visual h3 {
    font-size: 28px;
    text-align: center;
  }

  .contets .m_wrap p {
    font-size: 12px;
  }

  .ban_box {
    padding-top: 50px;
  }

  .ban_box .etc {
    gap:10px;
  }

  .ban_box .etc a {
    height: 70px;
    padding: 20px 20px 20px 70px;
  }
  

  .ban_box .etc p {
    font-size: 12px;
  }

  .ban_box .etc_left p {
    padding-top: 4px;
  }
}
