@charset "UTF-8";

#header {
  position: fixed;
  /* border: 3px solid dodgerblue; */
  left: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
}
#header.fixed {
  background: #fff;
  border-bottom: 1px solid #e7e7e7;
}
#header.fixed .gnb > li > a {
  color: #000;
}
#header.fixed .login_btn {
  color: #000;
}
#header.fixed .sitemap_btn i {
  background: #000;
}
#header.on {
  border-bottom: 1px solid #e7e7e7;
  background: #fff;
}

#header.on::after {
  height: 410px;
  box-shadow: 0px 2px 9.8px 0.2px rgba(0, 0, 0, 0.08);
}
#header::after {
  content: '';
  position: absolute;
  left: 0;
  top: 145px;
  width: 100%;
  height: 0;
  background: #fff;
  transition: all 0.2s;
  border-radius: 0 0 50px 50px;
}

#header .inner {
  max-width: 1450px;
  height: 110px;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
}

#header .logo {
  left: 0px;
  position: absolute;
  width: 100px;
  height: 50px;
  top: 7px;
  z-index: 10;
}

#header .gnb {
  display: flex;
}
#header .gnb > li {
  position: relative;
  padding: 0 40px;
}
#header .gnb > li > a {
  display: flex;
  font-size: 20px;
  line-height: 115px;
  position: relative;
   color: purple;
  font-weight: 550;
}

#header .btn_wrap {
  position: absolute;
  right: 20px;
  top: 40px;
  /* transform: translateY(-50%); */
  display: flex;
  gap: 0 20px;
  z-index: 10;
  align-items: center;
  font-weight: 600;
}
#header .login_btn {
  color: purple;
  font-weight: 550;
}

#header .sitemap_btn {
  display: none;
}
#header .menu_wrap {
  display: none;
}

.main_visual {
  height: 700px;
  padding: 180px 0;
  text-align: center;
  background: url(../images/main_slider.jpg) no-repeat center / cover;
}

.main_crew {
  max-width: 1450px;
  margin: 0 auto;
  padding-top: 20px;
}

.main_crew .head_wrap {
  display: flex;
  justify-content: space-between;
}
.main_crew .main_tit {
  font-size: 28px;
  line-height: 1.45;
  letter-spacing: -1.9px;
  margin: 0 45px 0;
  font-weight: 800;
  color: purple;
}
.main_crew .crew_btn {
  justify-content: center;
  background: #8c5ba3;
  align-items: center;
  font-weight: 600;
  padding: 10px;
  border-radius: 10px;
  margin: 0 45px 0;
  color: #fcfbfbea;
}
.main_crew .tit {
  margin: 10px 45px 0;
  font-weight: 600;
}

.main_crew .swiper_wrap {
  position: relative;
  padding: 0 45px;
}
.main_crew .swiper {
  position: static;
  margin: 0 auto;
  padding-top: 20px;
}

.main_crew img {
  border-radius: 20px;
}
.main_crew .swiper-slide {
  border: 1px solid #000;
  border-radius: 10px;
}

.main_crew .arrow_btn::after {
  display: none;
}
.main_crew .arrow_btn {
  width: 40px;
  height: 25px;
  left: 0;
  background: url(../images/arrow-left.svg) no-repeat 100% / 100%;
}

.main_crew .swiper-button-next {
  left: auto;
  right: 0;
  top: 50%;
  transform: rotate(180deg);
}

.main_crew .img_wrap {
  padding: 10px;
}

.main_crew .txt_wrap {
  padding: 8px;
}

.main_crew .txt_wrap h3 {
  font-weight: 700;
  background: plum;
  display: inline-flex;
  border-radius: 15px;
  padding: 5px;
  font-size: 14px;
  color: #fff;
}

.main_crew .txt_wrap p {
  font-weight: 600;
  padding-left: 5px;
}

.main_crew .txt_wrap span {
  display: flex;
  padding-left: 5px;
  font-size: 15px;
}

.main_crew .all_wrap {
  padding: 10px;
}

.main_crew .all_wrap h3 {
  font-weight: 700;
  background: plum;
  display: inline-flex;
  border-radius: 15px;
  padding: 5px;
  margin-top: 10px;
  font-size: 14px;
  color: #fff;
}

.main_crew .all_wrap p {
  font-weight: 600;
  padding-left: 5px;
}

.main_crew .all_wrap span {
  display: flex;
  padding-left: 5px;
  font-size: 15px;
}

/* 하단바 비활 */
.main_crew .swiper-pagination {
  display: none;
}
/* 화살표 버튼 비활성화 */
.main_crew .swiper-button-disabled {
  cursor: pointer;
  pointer-events: all;
}

.main_info {
  padding: 80px 0;
}
.main_info .inner {
  max-width: 1450px;
  margin: 0 auto;
  position: relative;
  display: flex;
}

.main_info .board {
  position: relative;
  flex-grow: 1;
  margin: 0 45px 0;
}
.main_info h2 {
  display: flex;
  font-weight: 700;
  font-size: 24px;
  padding-bottom: 10px;
}

.main_info .list li {
  padding: 10px 0;
  border-bottom: 1px solid #000;
}
.main_info .list li a {
  gap: 20px;
  display: flex;
  padding: 0 10px 0;
  justify-content: space-between;
  align-items: flex-end;
  text-align: end;
  font-size: 16px;
}
.main_info .list li p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-align: left;
}

.main_info .more_btn {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: end;
  padding: 5px;
  font-size: 16px;
}

#footer {
  background: #777;
  padding-bottom: 50px;
}
#footer .inner {
  max-width: 1450px;
  margin: 0 auto;
  position: relative;
}

#footer .footer_top {
  padding: 20px 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin: 0 45px 0;
}
#footer .footer_top img {
  top: 40px;
  height: 40px;
}

#footer .footer_top .menu {
  padding: 0 10px;
  display: flex;
  gap: 0 15px;
  font-size: 16px;
}
#footer .footer_top .menu a {
  color: #fff;
  font-weight: 700;
}

#footer .footer_bottom {
  padding: 20px 0;
  color: #fff;
  margin: 0 45px 0;
}
#footer .footer_bottom .txt_wrap {
  font-size: 15px;
}

#footer .footer_bottom .address {
  line-height: 30px;
}
#footer .footer_bottom .address span {
  display: inline-block;
  vertical-align: middle;
  width: 1px;
  height: 14px;
  background: rgba(255, 255, 255, 0.3);
  margin: 0 15px;
}

#footer .footer_bottom .copyright {
  padding: 10px 0;
}

@media (max-width: 1200px) {
  #header .logo {
    width: 90px;
  }
  #header .gnb > li > a {
    /* display: none; */
    font-size: 18px;
  }

  #header .sitemap_btn {
    width: 26px;
    height: 22px;
    background: none;
    border: none;
    display: flex;
    flex-direction: column;
    gap: 3px 0;
  }

  #header .sitemap_btn i {
    width: 26px;
    height: 2px;
    background: #fff;
    transition: all 0.2s;
    border-radius: 1px;
  }

  #header .sitemap_btn i + i {
    margin-top: 5px;
  }
  #header .sitemap_btn.on i:nth-of-type(1) {
    transform: translateY(10px) rotate(135deg);
  }
  #header .sitemap_btn.on i:nth-of-type(2) {
    transform: scaleX(0);
    opacity: 0;
  }
  #header .sitemap_btn.on i:nth-of-type(3) {
    transform: translateY(-10px) rotate(-135deg);
  }

  #header .menu_wrap {
    position: fixed;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background: lightgoldenrodyellow;
    transition: all 0.5s;
    transform: translateX(100%);
    opacity: 0;
    display: block;
    padding-top: 90px;
    align-items: center;
  }
  #header .menu_wrap.on {
    transform: translateX(0);
    opacity: 1;
  }

  #header .menu_wrap .menu_inner {
    margin-top: 0;
    padding: 0 20px;
    overflow: auto;
  }

  #header .menu {
    display: block;
    margin-top: 30px;
  }

  #header .menu > li {
    padding: 0;
  }

  #header .menu > li > a {
    position: relative;
    display: block;
    line-height: 50px;
    font-weight: 600;
  }
  #header .menu > li > a::before {
    content: '';
    position: absolute;
    right: 20px;
    top: 50%;
    width: 14px;
    height: 2px;
    margin-top: -1px;
    background: #1b1b1b;
  }
  #header .menu > li > a::after {
    content: '';
    position: absolute;
    right: 26px;
    top: 50%;
    width: 2px;
    height: 14px;
    margin-top: -7px;
    background: #1b1b1b;
    transform: all 0.2s;
  }

  .main_visual {
    height: 600px;
  }
  .main_crew .main_tit {
    font-size: 24px;
  }

  .main_crew .tit {
    font-size: 15px;
  }

  .main_crew .crew_btn {
  }
}

@media (max-width: 767px) {
  #header .logo {
    width: 70px;
  }

  #header .gnb_wrap {
    display: none;
  }

  .main_visual {
    height: 500px;
  }

  .main_crew .main_tit {
    font-size: 20px;
  }

  .main_crew .tit {
    font-size: 13px;
    margin: 0 45px 0;
  }

  .main_crew .crew_btn {
    width: 95px;
    font-size: 12px;
  }

  .main_info h2 {
    font-size: 20px;
  }

  .main_info .list li a {
    font-size: 14px;
  }

  .main_info .more_btn {
    font-size: 14px;
  }

  #footer {
    padding-bottom: 20px;
  }

  #footer .footer_top img {
    top: 30px;
    height: 30px;
  }

  #footer .footer_top .menu {
    font-size: 14px;
  }

  #footer .footer_bottom {
    flex-direction: column;
  }

  #footer .footer_bottom .txt_wrap {
    font-size: 13px;
  }
}
